<div class="mister-cocktail">
  <div class="container">
    <%= link_to root_url do %>
      <h2 class="titre-cocktail">Monsieur Cocktail</h2>
    <% end %>
    <div class="search-bar">
      <%= form_tag cocktails_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a cocktail"
        %>
        <%= submit_tag "Search", class: "btn btn-warning" %>
      <% end %>
    </div>
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
        <div class="card-trip">
          <%= link_to cocktail_path(cocktail) do %>
            <% if cocktail.photo.attached? %>
              <%= cl_image_tag cocktail.photo.key, alt: "cocktail" %>
            <% else %>
              <%= image_tag "https://res.cloudinary.com/diicv9vju/image/upload/v1573815678/cocktail.jpg", alt: "alttext" %>
            <% end %>
            <%= link_to 'x', cocktail_path(cocktail), method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy-cross'  %>
          <% end %>
          <div class="card-trip-infos">
            <h2><%= cocktail.name.split(' ').map { |x| x.capitalize }.join(' ') %></h2>
          </div>
        </div>
      <% end %>
      <div class="card-trip add-cocktail hidden">
        <div class="card-trip-infos">
          <%= simple_form_for @cocktail do |f| %>
            <%= f.input :name %>
            <%= f.input :photo, as: :file, input_html: { class: 'hidden' }, label_html: { class: 'toggle-button'}, label: '📷 Upload a photo' %>
            <%= f.submit class: 'btn btn-warning' %>
          <% end %>
          <div class="close-table">
            <em>close</em>
          </div>
        </div>
      </div>
      <div class="btn btn-warning" id="add-cocktail-btn">
        Add a cocktail
      </div>
    </div>
  </div>
</div>

