
<div class="banner">
  <div class="container">
    <%= render 'navbar' %>
    <h1 class="text-center titre-cocktail"><em><strong><%= @cocktail.name.capitalize %></strong></em></h1>
    <div class="cards cocktail mt-3">
      <div class="cocktail-infos">
        <div class="card-trip image">
          <%= cl_image_tag @cocktail.photo.key, class: 'image-thumbnail' %>
        </div>
        <div class="card-trip instructions">
          <h2><em>Instructions</em></h2>
          <%= @cocktail.instruction %>
        </div>
        <div class="card-trip ingredients">
          <% if @cocktail.doses.empty? %>
            <h2><em>You have no ingredients</em></h2>
          <% else %>
            <h2><em>Ingredients</em></h2>
            <% @cocktail.doses.each do |dose| %>
              <div id="ingredient-line">
                <p><i class="fas fa-glass-whiskey"></i>
                <%= dose.description %>
                <%= dose.ingredient.name %></p>
                <%= link_to dose_path(dose), method: :delete do %>
                  <i class="far fa-trash-alt"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="card-trip add-ingredients hidden">
          <div class="card-trip-infos">
            <%= simple_form_for [@cocktail, @dose] do |f| %>
              <%= f.input :description %>
              <%= f.association :ingredient, input_html: { class: 'select2' } %>
              <%= f.submit 'Add a dose', class: 'btn btn-warning'%>
            <% end %>
          </div>
          <div class="close-table-ingredient">
            <em>close</em>
          </div>
        </div>
          <div class="btn btn-warning" id="add-ingredient-btn">
            Add an ingredient
          </div>
      </div>
      <div class="reviews">
        <% @cocktail.reviews.each do |review| %>
          <div class="card-trip review">
            <div class="card-trip-infos">
              <h2 class='border-bottom'><%= review.author %></h2>
              <%= review.content %>
              <div class="stars-inline">
                <% if review.rating != nil %>
                  <% review.rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                  <% (Review::RATINGS.length - review.rating - 1).times do %>
                    <i class="far fa-star"></i>
                  <% end %>
                <% end %>
              </div>
              <%= link_to 'x', review_path(review), method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy-cross'  %>
            </div>
          </div>
        <% end %>
        <div class="card-trip review hidden" id="add-review">
          <div class="card-trip-infos">
            <% if @cocktail.reviews %>
              <%= simple_form_for [@cocktail, @review] do |f| %>
                <%= f.label 'Add a review' %>
                <%= f.input :author %>
                <%= f.input :content, as: :text, class: 'content-area' %>
                <%= f.label 'Rating' %>
                <%= f.collection_radio_buttons :rating, [[1], [2], [3], [4], [5]], :first, :last do |b| %>
                  <%= b.radio_button + b.label {''} %>
                <% end %>
                <br>
                <br>
                <%= f.submit class: 'btn btn-warning' %>
              <% end %>
            <% end %>
          </div>
          <div class="close-table-review">
            <em>close</em>
          </div>
        </div>
          <div class="btn btn-warning" id="add-review-btn">
            Add a review
          </div>
        </div>
      </div>
    <%= link_to 'Back to cocktails', cocktails_path, class: 'toggle-button' %>
    </div>
  </div>
</div>
